body {
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: #5BAA82;
    font-family: Arial, Helvetica, sans-serif;
}

.top-row {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    width: 90%;
    margin-top: 20px;
}

#tags-title {
    margin-top: 0;
    font-size: 40px;
    color: white;
}

.top-box {
    display: flex;
    flex-direction: column;
    background-color: #5BAA82;
    box-shadow: 0 0 10px 0.1px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
    margin-bottom: 20px;
}

#close {
    border: 2px solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: transparent;
    cursor: pointer;
}

.tag-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 60px;
    color: #5baa82;
    background-color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    border: 3px solid #5baa82;
    border-radius: 50px;
    cursor: pointer;
    margin: 15px;
    text-align: center;
}

.tag-button-selected {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 60px;
    color: #ffffff;
    background-color: #5baa82;
    font-size: 15px;
    font-weight: bold;
    border: 3px solid #5baa82;
    border-radius: 50px;
    cursor: pointer;
    margin: 15px;
    text-align: center;
}

#tag-button-image {
    position: relative;
    left: -15px;
    border-radius: 50%;
    border: 3px solid #5baa82;
    background-color: white;
    height: 70px;
    width: 70px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    width: 90%;
    min-height: 700px;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-bottom: 20px;
    text-align: center;
}

h3 {
    color: #5BAA82;
}